*{box-sizing: border-box;}
body{margin: 0;font-family: "Segoe UI";}

:root
{
    --priymary:#ed6809;
    --primary-dark:#cc5805;
    --text:#111;
}

.container
{
    max-width: 1500px;
    margin: 0 auto;
    

}
a{
    text-decoration: none;
    color: var(--text);
}

.logoContainer
{
    font-size: 2.5em;
    color:var(--priymary) ;
    font-weight: bold;
    padding: 25px 0;

}
nav{
    background-color: #eee;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
nav>div 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    

}
nav ul a
{
padding: 12px 20px;
display: block;
text-decoration: none;
border-left: 1px solid #ccc;

}


nav ul li.aktiv a
{
    background-color: var(--priymary);
    color: white;
}

/* ================Main===============*/

main .container
{
    display: flex;
    padding-top: 25px;
}

main .inhalt
{
    width: 70%;

}

main aside 
{
    width: 27%;
    border: 1px solid #eee;
    margin-top: 70px;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.34);
    margin-left: 3%;
    padding: 15px 35px;
}
aside>h3{
    text-align: center;
}

.inhalt>h1
{
    height: 70px;
    margin: 0;
}
.produkte
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card
{
    width: 32%;
    margin-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.34);
}
.card>span
{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    padding: 10px 0 ;
    border-bottom: 1px solid #eee;
    display: block;
}

.card .bild
{
   height: 240px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
}

.card .bild img{
    max-width: 100%;
    max-height: 100%;
    
}
.info
{
    display: flex;
    padding: 12px 0;
    background-color: #ececec;
}

.info>*
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.info .links
{
    border-right: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--priymary);
    
    
}

.info .rechts button
{
    padding: 9px 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--priymary);
    color: white;
    cursor: pointer;
}
.info .rechts button:hover

{
    background-color: var(--primary-dark);
}

#warenkorb .eintrag
{
    margin-bottom: 10px;
}

#warenkorb div
{
margin-bottom: 10px;
}

aside>button
{
    padding: 9px 16px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--priymary);
    color: white;
    cursor: pointer;
    width: 100%;
}
aside>button:hover
{
background-color: var(--primary-dark);
}

#gesamtKosten
{
    margin: 15px 0;
}
#meldung
{margin-top: 15px;
    padding: 10px;
    color: white;
}